body{
	margin: 0px;
	padding: 0px;
font-family: Raleway;
padding: 30px;
background: url("../school.png");
background-repeat: repeat;
}

.panel-default{
	background: rgba(255,255,255,0.3);
	transition:all 0.4s ease;
}

.panel-default:hover{
	transform:translatey(-1px);
	-webkit-box-shadow: -1px 0px 35px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 35px -12px rgba(0,0,0,0.75);
box-shadow: -1px 0px 35px -12px rgba(0,0,0,0.75);


}

#lead{
	
		padding-bottom: 5px;
	border-bottom: 2px solid #666;
	
	font-size:2.4em;
}

.empty{
	background: rgba(255,255,255,0.3);
	border: 2px solid #bbb;
	text-align: center;
	font-size: 4.5em;

	transition:all 0.23s ease;	
	}
.empty:hover{
		
		transform: translateY(-2px);
		border: 2px solid white;
	}

a{
	color:black;
}
a:hover{
	text-decoration: none;
	color: white;
	
}



.panel {
	border: 2px solid #bbb;
	padding:20px;
}

.row{
	margin-bottom: 30px;
}

#cityname{
font-size: 1.6em;
}

.panel-body{
	padding: 0px;
}

ul{
	list-style-type:none; font-size:1.3em;

	padding-left: 10px;
}

li:first-child{
font-size: 1.4em;
}
.col-md-5{
	padding: 10px;
font-size: 2.9em;
}

.sunny{
	background:url("http://i.giphy.com/vadsqiBwAM18c.gif");
	background-size: cover;
	background-repeat: no-repeat;
}



.cloudy{
	background:url("http://i.giphy.com/UknxX483P7qkE.gif");
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
}


.haze{
	background:url("http://i.giphy.com/10v3lzFmbemHv2.gif");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}


.rainy{
	background:url("http://i.giphy.com/11bKZchDgXQTZe.gif");
	background-size: cover;
	background-repeat: no-repeat;

	color:white;
}

.snowy{
	background:url("http://i.giphy.com/12RAfAXFH8g5LG.gif");
	background-size: cover;
	background-repeat: no-repeat;

}

.class{
background: none;
}

footer{
	background: red;
}
